@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600&family=Poppins:wght@400;500;600;700&display=swap");

* {
  font-family: "Nunito Sans", sans-serif;
}

body {
  font-size: 14px;
  font-weight: 400;
  color: #5c727d;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #071c1f;
}

li,
ul {
  list-style: none;
}

.box-shadow {
  box-shadow: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
}

.list {
  font-family: "Poppins", sans-serif;
}
